@import '_variables.scss';

.ads {
    position: relative;

    .content {
        margin-left: $left-space;
        display: flex;
        align-items: center;
        margin-right: 232px;

        .text-content {
            position: relative;
            top: -96px;
            margin-left: 72px;

            .trivial {
                margin-bottom: 80px;
            }

            .inline-block {
                display: inline-block;
            }
        }
    }
}