.boys-light {
    position: relative;
    display: flex;
    justify-content: center;

    .container {
        text-align: center;
        
        .light-bulb {
            position: relative;
            display: inline-block;
    
            .sparks {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
    
                img {
                    position: absolute;
                }
    
                #elec {
                    bottom: 20px;
                    right: 10px;
                }
    
                #star {
                    top: 5px;
                    left: 5px;
                }
            }
        }

        .boys {
            position: relative;
            width: 100vw;
            top: -12px;
        
            & > img:first-child {
                position: absolute;
                left: 0;
            }
        
            & > img:last-child {
                position: absolute;
                right: 0;
            }
        }
    }
}