@import 'typography.scss';

.collab {
    position: relative;
    display: flex;
    justify-content: center;

    .container {
        text-align: center;
        
        .emphasize {
            display: flex;
            justify-content: center;

            font-family: 'kanit';
            font-size: 28.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 432px;
            letter-spacing: 0em;

            #second {
                display: flex;
                align-items: center;
                margin-left: 28px;

                & > span:first-child {
                    font-size: 20rem;
                    margin-right: 16px;
                }
            }
    
            .txt-gradient {
                background: linear-gradient(180deg, #70DCCF 0%, #0E80C8 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .above-origin {
            position: relative;
            bottom: 64px;
        }
    }
}