$main-wht: #ffffff;
$main-accent: #0072bb;
$main-secondary: #48b6cc;
$darker-gray: #888888;
$gray: rgba(#686868, 0.7);
$light-gray: #d0d0d0;

.main-wht {
    color: $main-wht;
}

.main-accent {
    color: $main-accent;
}

.secondary-accent {
    color: $main-secondary;
}

.darker-gray {
    color: $darker-gray;
}

.gray {
    color: $gray;
}

.light-gray {
    color: $light-gray;
}

.bg-main-wht {
    background-color: $main-wht;
}

.bg-main-accent {
    background-color: $main-accent;
}