.courses {
    position: relative;

    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .content {
            text-align: center;
        }
    }
}