@import 'color.scss';
@import 'typography.scss';

html {
    font-size: 62.5%;
}

body, html {
    height: 100%;
}

body {
    font-family: 'supermarket';
    background-color: $main-wht;
    overflow-x: hidden;
}

h1 {
    font-size: 9.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 8rem;
    margin-bottom: 32px;
    margin-top: 0;
}

h2 {
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.4rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.2rem;
    margin-bottom: 40px;
}

p {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
}

button {
    font-family: 'supermarket';
    border-radius: 50px;
    border: none;
    font-size: 3.2rem;
    line-height: 7.2rem;
}

.background {
    width: 100vw;
}

.p-x-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.d-flex {
    display: flex;
}