@import '_variables.scss';

.landing {
    position: relative;

    .container {
        position: absolute;
        top: 0;
        left: 0;
        height: 1200px;
        width: 100vw;

        .logo {
            position: absolute;
            top: 15%;
            left: $left-space;
            z-index: 1;
        }

        .content {
            margin-left: $left-space;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100vh;

            .text-content {
                z-index: 1;
            }

            .props {
                position: absolute;
                right: 0;
            }
        }
    }
}